img {
    width: 100%;
}

.landing-img {
    margin-top: -35px;
}

.logo-img {
    max-width: 130px;
    max-height: 80px;
    margin-left: -50px;
}

.navbar-brand {
    margin-left: -30px;
}

.login, .register, .projects, .project {
    /*background: #e3f6f5 !important;
    margin-top: -24px;
    margin-bottom: -50px;

     */

}

.backlog, .addProjectTask {

    background: #e3f6f5 !important;
    margin-top: -24px !important;
    margin-bottom: -50px !important;
    height: 200vh;

}

.navbar {
    background: #e3f6f5 !important;
}

.nav-item {
    padding: 6px;

}

.nav-link {
    color: #142d4c !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px !important;
    color: #142d4c !important;
}

.fa.fa-edit {
    color: #18a2b9;
}

.fa.fa-flag-checkered {
    color: #142d4c !important;
}

.list-group-item.delete:hover {
    cursor: -webkit-grab;
    background-color: pink;
}

.list-group-item.update:hover {
    cursor: -webkit-grab;
    background-color: gainsboro;
}

.list-group-item.board:hover {
    cursor: -webkit-grab;
    background-color: gainsboro;
}

.fa.fa-minus-circle {
    color: darkred;
}

.landing {
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #e3f6f5;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
}

.landing-inner {
    padding-top: 10px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-form {
    opacity: 0.9;
}

.form-control::placeholder {
    color: #bbb !important;
}

.mainHeading, .h3 {
    color: #142d4c !important;
    font-family: Motiva Sans Bold, sans-serif;
    text-shadow: 1px 1px 1px #142d4c;

}

.headerLogo {
    font-family: Motiva Sans Bold, sans-serif;
    font-size: large;

}

.lead {
    font-family: Motiva Sans Bold, sans-serif;
    font-weight: bold !important;
    color: #142d4c;
    width: 70%;
}

.updateText {
    font-family: Motiva Sans Bold, sans-serif;
    font-weight: bold !important;
    color: #f1f9f9 !important;
}

.btn-primary, .btn-info {

    background-color: #142d4c !important;
    font-family: Motiva Sans Bold, sans-serif;
    border-color: #142d4c !important;
}

.createProject {
    margin-left: 20px;
}

.backBtn {

    margin-left: 5px;
}

.submitBtn {
    margin-left: 220px;
}

footer {
    position: fixed;
    background-color: #142d4c;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    color: #85a6b1;
    font-family: Motiva Sans Bold, sans-serif;
}

.forms {
    height: 50px;
    background-color: #142d4c !important;

}

.forms > .userLogin {
    color: white;
}

.card-body {
    background-color: #f1f9f9;

}

.forms > h1 {
    color: #f1f9f9;
}

.forms > .text-center {
    color: #f1f9f9;

}

.userLogin, .text-center, .nav-link, .text {
    font-family: Motiva Sans Bold, sans-serif;
    color: #142d4c;
}

label {
    font-family: Motiva Sans Bold, sans-serif;
    color: #142d4c;
    font-size: 14px;
}

.nav-link {
    font-weight: bold;
    font-size: large;
}

.fa, .fas {
    font-style: normal !important;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    justify-content: center;
    color: #85a6b1;
}

.pagination > .active > a {
    background-color: #142d4c;
    border-color: #142d4c;
    color: #85a6b1;
}

.pagination > li > a {
    border: 1px solid #142d4c;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    color: #85a6b1;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #142d4c;
    border-color: #142d4c;
    outline: none;
}

.pagination > li > a, .pagination > li > span {
    color: #142d4c
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: unset;

}

.toDo {
    background-color: #4f81c7 !important;
}

.inProgress {
    background-color: #ff9a3c !important;
}

.card-text, .card-title {
    font-family: Motiva Sans Bold, sans-serif;
    width: 100%;
}

.projectCard {
    width: 21rem;
    height: 20rem;
}

.projectBody {
    background-color: #142d4c;
    height: 450px !important;
}

.projectTitle, .projectText {
    color: white;
}

.list-group-item {
    background-color: #f1f9f9 !important;
    font-family: Motiva Sans Bold, sans-serif;
}

.shadow-lg {
    background-color: #142d4c !important;
}

.formErrors {
    background-color: #e3f6f5;
    color: darkred;
}

.taskCard {
    height: 230px;
}

.card-link {
    margin-bottom: -60px;
}



